{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <!-- Левая панель -->
    <div class="left-panel">
        <div class="text-content">
            <h2>{{ book.title }}</h2>
            <p>{{ book.description }}</p>
            <p><strong>Жанр:</strong> {{ book.genre }}</p>
            <p><strong>Рейтинг:</strong> {{ book.rating }} ★</p>
        </div>
        <div class="buttons">
            {% if chapters %}
                <h3>Главы:</h3>
                <div class="chapter-list">
                    {% for chapter in chapters %}
                        <div class="chapter-item">
                            <a href="{{ url_for('chapter_detail', book_id=book.id, chapter_number=chapter.number) }}" class="chapter-button">
                                Глава {{ chapter.number }}: {{ chapter.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Нет доступных глав для этой книги.</p>
            {% endif %}
            <a href="{{ url_for('index') }}" class="back-button"><button>Назад</button></a>
        </div>
    </div>

    <!-- Правая панель -->
    <div class="right-panel">
        <div class="search-bar">
            <input type="text" placeholder="Поиск книг...">
        </div>
        <div class="cards-container">
            {% for book in books %}
            <div class="card">
                <h3><a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.title }}</a></h3>
                <p>{{ book.description }}</p>
                <span class="genre">{{ book.genre }}</span>
                <span class="rating">{{ book.rating }} ★</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}